header {
    background: #fff;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .navigation-menu {
        .container {
            @include mobile {
                justify-content: space-between;
            }
        }
    }
    .contacts-menu {
        box-shadow: 0 5px 15px #ccc;
    }
    .social {
        .fa {
            font-size: 22px;
            margin-right: 10px;
            @include tablet-portrait {
                font-size: 16px;
            }
        }
    }
    .contacts {
        display: flex;
        align-items: center;
        height: 45px;
        @include tablet-portrait {
            height: 30px;
        }
        .fa {
            margin-left: 20px;
            font-size: 22px;
            margin-right: 5px;
            @include tablet-portrait {
                font-size: 16px;
            }
            @include mobile {
                font-size: 12px;
            }
        }
        p {
            @include text-regular;
        }
        a {
            @include text-regular;
            @include mobile {
                font-size: 12px;
            }
        }
    }
    nav {
        @include mobile {
            display: none;
        }
        a {
            @include text-regular;
            text-transform: uppercase;
            margin-left: 30px;
            transition: 0.2s;
            &:hover {
                color: $color-blue;

                animation-name: ball-2;
                animation-duration: 0.2s;
                animation-fill-mode: forwards;
            }
            @include tablet-portrait {
                font-size: 12px;
                margin-left: 10px;
            }
        }

    }
    .fa-bars {
        display: none;
        @include mobile {
            display: block;
            font-size: 32px;
            margin-right: 10px;
        }
    }
    img {
        margin: 10px 0;
        @include tablet-landscape {
            width: 200px;
        }
        @include tablet-portrait {
            width: 150px;
        }
    }
}




.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    z-index: 1;
    animation-name: ball;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    .social {
        .fa {
            font-size: 18px;
        }

    }
    .contacts {
        height: 30px;
    }
    img {
        margin: 1px 0;
    }
.blueline {
        background: rgb(88, 189, 243);
    opacity: 0.8;
    h1,
    h2 {
        padding: 10px 0 15px;
    }
    }
}
